@import 'vars';
html,body{
    height: 100%;
}
body{
    font-family: 'gilroy';
    font-weight: 400;
    font-size: 17px;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: $default;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main{
    flex: 1 0 auto;
}
.footer{
    flex: 0 0 auto;
}

.container{
    max-width: 1880px;
    margin: 0 auto;
    padding: 0 15px;
}